body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange ,red);
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 20px;
   
}
.top-banner
{
    background-image: url(images/top-banner.png);
    background-position: left;
    background-repeat: no repeat;


    
}